<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <div><a href="/"><img src="/logo.gif" alt="logo"></a></div>
      <div><a href="/bookshelf">Books</a></div>
      <div><a href="/virtual">Virtual Creations</a></div>
      <div><a href="/physical">Physical Creations</a></div>
      <div><a href="/about">About Me</a></div>
      <div><a href="/goats">Goats</a></div>
      <div><a href="/meta">Meta</a></div>
      <div><a href="/contact">Contact</a></div>
    </div>
  </div>
</div>
